.led {
    border: 0px black solid;
    width: 7px;
    height: 32px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.led-editor {
    border: 2px black solid;
    width: 40px;
    height: 40px;
    margin: 10px;
    display: inline-block;
}

.led-selected {
    border: 2px red dashed;
}

.ledstrip {
    border: thin grey solid;
    margin: 0px;
    padding: 0px;
    background-color: rgb(221, 221, 230);
    display: inline-block;
    width: 323px;
    height: 200px;
}

.ledstrip-editor {
    width: 1080px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.ledstrip-editor-tools {
    display: flex;
    flex-direction: row;
}

.ledstrip-editor-leds-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.editor-buttons-wrap {
    display: flex;
    flex-direction: column;
}

.buttons-wrap {
    display: flex;
    flex-direction: row;
    width: 1080px;
}

.shelf {
    margin: 50px;
    width: 980px;
}

.dim-level {
    padding: 30px;    
    margin: 20px;
    font-size: xx-large;
}

.status-indicator {
    padding: 10px;    
    margin: 50px;
    width: 10px;
    height: 10px;
    margin-left: auto;
    border-radius: 50%;
}

.button {
    background-color: #ddf;
    padding: 25px;    
    margin: 10px;
    font-size: x-large;    
}

.button-light {
    margin-left: 50px;
}

/* Color picker styling */
.ledstrip-editor .react-colorful {
    height: 600px;
    width: 800px;
}
.ledstrip-editor .react-colorful__saturation {
    border-radius: 0 0 0 0;
}
.ledstrip-editor .react-colorful__hue {
    height: 300px;
    border-radius: 0 0 0 0;
}
.ledstrip-editor .react-colorful__hue-pointer {
    width: 32px;
    height: 200px;
    border-radius: 0;
}
.ledstrip-editor .react-colorful__saturation-pointer {
    width: 100px;
    height: 100px;
}